.header {
  display: flex;
  justify-content: center;
  height: 12vh;
  background-color: #212122;
}

.navbar {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 200px;
  display: flex;
}

.button_dropdown button {
  color: #db0101;
  font-size: 18px;
  font-weight: bold;
}

.button_dropdown button:hover {
  color: #ffffff !important;
  font-size: 18px;
  font-weight: bold;
}

.nav_options {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.nav_options li {
  padding: 4px 12px;
  list-style: none;
}

.nav_options li > a {
  color: #db0101;
  font-weight: 700;
  font-size: 20px;
}

.show_nav_options {
  display: flex;
  background-color: #212121;
  width: 100vh;

  position: fixed;
  top: 12vh;
  left: 0;

  transition: all 0.3s ease-in;
}

.hamburguer {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburguer {
    display: block;
    position: fixed;
    top: 4vh;
    right: 80px;
  }

  .header {
    flex-direction: column;
  }

  .nav_options {
    flex-direction: column;
    z-index: 2;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 8px !important;
  }

  .hamburguer {
    right: 20px;
  }
}
