.single_header{
    margin: 64px 0;
    font-size: 16px;
    color: #ffffff;
}

.desc_video {
    display: flex;
    justify-content: center;

}

.desc_video h6{
    color:#ffffff;
    font-size: 16px;
    font-weight: lighter;

}

.desc_video span{
    color:#969696;
    font-weight: bold;
}